#result {
    width: 50%;
}

ol { /* the results */
	line-height: 4em;
	/*	color: aliceblue;*/
	background-color: rgba(0,0,0,0.70);
	border-radius: 10px;
	/*	min-width: 75%;*/
	padding-left: 50px;
	max-width: 600px;
	margin-bottom: 10px;
	/*	border: 1px solid #dcdcdc;*/
}

#submitAnswers {
	font-size: 1.2em;
	font-weight: 500;
	color: aliceblue;
	background-color: rgba(0,0,0,0.70);
	border-radius: 45px;
	min-width: 90px;
	min-height: 90px;
}

#searchbox {
	color: aliceblue;
	font-weight: 500;
	font-size: 1.3em;
	min-width: 200px;
	border-radius: 75px;
	background-color: rgba(0,0,0,0.70);
  	min-height: 75px;
}

input {
	padding: 10px;
	margin: 10px;
	border-radius: 4px;
	width: 50%;
}