@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

/* .tg  {
    border-collapse:collapse;
    border-spacing:0;}

.tg td{
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:white;
}

.tg th{
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:white;
}

.tg .tg-0a7q{
    border-color:white;
    text-align:left;
    vertical-align:middle
} */

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; 
  }

input[type="text"] {
	padding: 10px;
	margin: 10px;
	border-radius: 4px;
	width: 50%;
}

ol { /* the results */
	line-height: 4em;
	/*	color: aliceblue;*/
	background-color: rgba(0,0,0,0.70);
	border-radius: 10px;
	/*	min-width: 75%;*/
	padding-left: 50px;
	max-width: 600px;
	margin-bottom: 10px;
	/*	border: 1px solid #dcdcdc;*/
}

/* styling the search button */
#submitbutton {
	font-size: 1.2em;
	font-weight: 500;
	color: aliceblue;
	background-color: rgba(0,0,0,0.70);
	border-radius: 45px;
	min-width: 90px;
	min-height: 90px;

}

/* styling the search box */
#content {
	color: aliceblue;
	font-weight: 500;
	font-size: 1.3em;
	min-width: 200px;
	border-radius: 75px;
	background-color: rgba(0,0,0,0.70);
  min-height: 45px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    background-color: rgba(0,0,0,0.70) !important;
    -webkit-box-shadow: 0 0 0 40px rgba(0,0,0,0.70) inset !important;
    -webkit-text-fill-color: aliceblue;
}