<div class="container">
    <h1>Sign Up</h1>
    <form #signupForm="ngForm" autocomplete="off">
      <div class="form-group">
        <input type="text" class="form-control" id="content" placeholder="Full name here" 
                required
                [(ngModel)]="user.name" name="name"
                #form="ngModel">
        <div [hidden]="form.valid || form.pristine" 
             class="alert alert-danger">
             Both name and password fields must be completed before submitting
        </div>

        <input type="password" class="form-control" id="content" placeholder="Password" 
                required
                [(ngModel)]="user.password" name="password"
                #form="ngModel">
        <div [hidden]="form.valid || form.pristine" 
             class="alert alert-danger">
             Both name and password fields must be completed before submitting
        </div>
      </div>
      <button id="submitbutton" type="submit" class="btn btn-success" (click)="save(); signupForm.reset(); login()" [disabled]="!signupForm.form.valid"><a routerLink="/examination-center" routerLinkActive="my-css-class">Sign up!</a></button>

    </form>
</div>
